*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    padding: 20px;
    text-align: center;
}
#header{
    width: 100px;
    background-color: aqua;
    float: right;
    text-align: center;
    font-size: 75%;
}
p{
    padding: 40px;
}
/*Desktop size*/
@media (min-width:992px){
    .main-container{
        width: 30px;
        height: auto;
        margin-left: 20px;
        background-color: bisque;
        margin-bottom: 10px;
        float: left;
        border: 2px solid black;
        border-radius: 5px;
    }
}
/*Tablet size*/
@media (min-width:992px){
    .main-container{
        width: px;
        height: auto;
        margin-left: 20px;
        background-color: bisque;
        margin-bottom: 10px;
        float: left;
        border: 2px solid black;
        border-radius: 5px;
    }
}